body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color:#EEEEEE;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

header{
    background-color: aqua;
}
.header-text{
    text-align: right;
    margin: 0 0 20px 1055px;
    display: inline-block;
    font-size: 12px;
    line-height: 0.5em;
    

}
.header-btn{
    float: right;
    margin: 7px 30px 0 0;
}
.sign-in-btn{
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    background-color: blue;
    color: #EEEEEE;
    border: 1px solid black;
}

.upper-main{
    text-align: center;
    margin: 20px 0 20px 0;

}
.icon-class {
    font-size: 20px;
    margin: 0 5px 0px 5px;
}
fieldset{
    background-color: white;
    width: 30%;
    margin: auto;
    height: auto;
    text-align: center;
}
.fieldset-intro{
    margin-bottom: 30px;
}
.fieldset-intro p{
    line-height: 0.1em;
    
}
.fieldset-intro h1{
    margin-bottom: 30px;
}

form{
    width: 80%;
    margin: auto;
    font-size: 16px;
}
.form-elements{
    display: block;
    text-align: left;
    padding: 5px;

}
.form-btn{
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;

}
.phone-policies{
    font-size: 10px;
    margin: 0;
    text-align: left;
}
label{
    margin-bottom: 20px;
}

/* #password{
    background-image: url(img/password.png) no-repeat scroll 7px 7px;
    background-position: right;
    padding-left:30px;
} */
.fa-lock-open{
    position: absolute;
    top: 28px;
    left: 65%;
    font-size: 15px;
}
